{% extends "base.html" %}
{% block H %}
<a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
{% endblock %}

{% block body %}
<main class="mdl-layout__content">
        <div class="mdl-navigation__link mdl-layout__tab-panel is-active" id='Education'>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
	            <div class="mdl-card mdl-cell mdl-cell--12-col">
	              <div class="mdl-card__supporting-text">
	              <h4><center>Verification</center></h4>
	              <h7><center>{{ label }}</center></h7>
	              <br>
	              <!-- <h8>"I don't know why I would even make this page for myself..."</h8> -->
	              <center>
	              <form method="POST">
	              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						{{ form.dumbQuestion(class_ = 'mdl-textfield__input') }} 
						<label class="mdl-textfield__label" for="sample3">What's the answer of the universe?</label>
					</div>
					<br>
					{{ form.submit(class_ = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") }}
					</form>
					</center>
	              </div>
	            </div>
	          </section>
<section class="section--footer--small-section mdl-color--grey-100 mdl-grid"></section>
</div>
{% endblock %}