{% extends "base.html" %}
{% block H %}
 {% if Subject == "overview" %}
  <a href="./" class="mdl-navigation__link mdl-layout__tab is-active">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link">Visitors</a> -->
{% elif Subject == "education" %}
	<a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link mdl-layout__tab is-active">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link">Visitors</a> -->
  {% elif Subject == "projects" %}
  <a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link mdl-layout__tab is-active">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link">Visitors</a> -->
  {% elif Subject == "experience" %}
  <a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link ">Projects</a>
  <a href="./experience" class="mdl-navigation__link mdl-layout__tab is-active">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link">Visitors</a> -->
  {% elif Subject == "contact" %}
  <a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link ">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link mdl-layout__tab is-active">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link">Visitors</a> -->
  {% elif Subject == "visitor" %}
  <a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link ">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link is-active">Visitors</a> -->
  {% else %}
  <a href="./" class="mdl-navigation__link mdl-layout__tab">Overview</a>
  <a href="./education" class="mdl-navigation__link">Education &amp; Skills</a>
  <a href="./projects" class="mdl-navigation__link ">Projects</a>
  <a href="./experience" class="mdl-navigation__link">Experience</a>
  <a href="./contact" class="mdl-navigation__link">Contact Me</a>
  <div class="spacer"></div>
  <!-- <a href="./visitors" class="mdl-navigation__link">Visitors</a> -->
  {% endif %}
{% endblock %}

{% block body %}
<main class="mdl-layout__content">
        <div class="mdl-navigation__link mdl-layout__tab-panel is-active" id={{Subject}}>
{% for each in Information %}
	{% if each["Type"] == 0 %}
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
      {% if each["Image"] == true %}
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--white-100 mdl-color-text--white">
              <img src="{{url_for('static', filename = each["ImageSource"])}}" width=200 height=200></img>
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      {% endif %}
	            <div class="mdl-card mdl-cell mdl-cell--12-col">
	              <div class="mdl-card__supporting-text">
	              <h4>{{each["Title"]|safe}}</h4>
	              <h6>{{each["Description"]|safe}}</h6>
	              </div>
	              {% if each["BottomAction"] == true %}
	                <div class="mdl-card__actions">
	              <a class="mdl-button" href="{{each["BottomFunction"]}}">{{each["BottomActionName"]}}</a>
	              </div>
              {% endif %}
	            </div>
	            {% if each["MoreButton"] == true %}
	            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
	              <i class="material-icons">more_vert</i>
	            </button>
	            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
		            {% for i in range(each["ButtonOptions"]|length) %}
		            	{% if each["ButtonEnable"][i] == true %}
		            	<li class="mdl-menu__item">{{each["ButtonOptions"][i]}}</li>
		            	{% else %}
		            	<li class="mdl-menu__item" disabled>{{each["ButtonOptions"][i]}}</li>
		            	{% endif %}
		            {% endfor %}
		            </ul>
		         {% endif %}
	          </section>
		        
	 {% endif %}
	 {% if each["Type"] == 1 %}
	 <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">{{each["Title"]}}</h4>
                {% for i in range(each["images"]|length) %}
	                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
	                <div class="section__circle-container__circle mdl-color--primary">
	                    <img src = {{ url_for('static', filename = each["images"][i]) }} width=65 height=65></img>
	                 </div>
	                  </div>
	                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
	                <h5>{{each["subTitle"][i]}}</h5>
	                  {{each["subDescription"][i]|safe}}<br>
	                  <a href={{each["buttonLink"][i]|safe}}>{{each["buttonTitle"][i]}}</a>
	                </div>
                {% endfor %}
                </div>
                {% if each["BottomAction"] == true %}
                <div class="mdl-card__actions">
              <a class="mdl-button" href="{{each["BottomFunction"]}}">{{each["BottomActionName"]}}</a>
              </div>
              {% endif %}
                </div>
                </section>
  {% endif %}
  {% if each["Type"] == 2 %}
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
    <div class="mdl-card__actions">
      {{ each['map'].js }}
      {{ each['map'].html }}
    </section>        
   {% endif %}
  {% if each["Type"] == 3 %}
  
    <!-- <div class="demo-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>
        Featured event:<br>
        May 24, 2016<br>
        7-11pm
      </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Add to Calendar
      </a>
      <div class="mdl-layout-spacer"></div>
      <i class="material-icons">event</i>
    </div>
  </div> -->

   <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">{{each["Title"]}}</h4>
                {% for data in each["data"] %}
                  <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>{{data["subTitle"]}}</h5>
                    {{data["subDescription"]|safe}}<br>
                  </div>
                {% endfor %}
                </div>
                {% if each["BottomAction"] == true %}
                <div class="mdl-card__actions">
              <a class="mdl-button" href="{{each["BottomFunction"]}}">{{each["BottomActionName"]}}</a>
              </div>
              {% endif %}
                </div>
                </section>
  {% endif %}
{% endfor %}
<section class="section--footer--small-section mdl-color--grey-100 mdl-grid"></section>
</div>
{% endblock %}