html, body {
	margin: 0px;
	max-width: 100%;
	overflow-x: hidden;
}
/* Fonts */
@font-face {
	font-family: 'SanFranciscoRegular';
	src: url('fonts/SF-UI-Display-Regular.ttf'),
		url('fonts/SF-UI-Display-Regular.ttf') format("truetype");
}
@font-face {
	font-family: 'SanFranciscoMedium';
	src: url('fonts/SF-UI-Display-Medium.ttf'),
		url('fonts/SF-UI-Display-Medium.ttf') format("truetype");
}
@font-face {
	font-family: 'SanFranciscoSemibold';
	src: url('fonts/SF-UI-Display-Semibold.ttf'),
		url('fonts/SF-UI-Display-Semibold.ttf') format("truetype");
}
@font-face {
	font-family: 'SanFranciscoBold';
	src: url('fonts/SF-UI-Display-Bold.ttf'),
		url('fonts/SF-UI-Display-Bold.ttf') format("truetype");
}
@font-face {
	font-family: 'SanFranciscoHeavy';
	src: url('fonts/SF-UI-Display-Heavy.ttf'),
		url('fonts/SF-UI-Display-Heavy.ttf') format("truetype");
}
@font-face {
	font-family: 'SanFranciscoBlack';
	src: url('fonts/SF-UI-Display-Black.ttf'),
		url('fonts/SF-UI-Display-Black.ttf') format("truetype");
}
cell-header-sfRegular {
	font-family: "SanFranciscoRegular";
}
sfRegular {
	font-family: "SanFranciscoRegular";
}
sfRegular:after {
	content: "\a";
	white-space: pre;
}
sfMedium {
	font-family: "SanFranciscoMedium";
}
sfMedium:after {
	content: "\a";
	white-space: pre;
}
sfSemibold {
	font-family: "SanFranciscoSemibold";
}
sfSemibold:after {
	content: "\a";
	white-space: pre;
}
sfBold {
	font-family: "SanFranciscoBold";
}
sfBold:after {
	content: "\a";
	white-space: pre;
}
sfHeavy {
	font-family: "SanFranciscoHeavy";
}
sfHeavy:after {
	content: "\a";
	white-space: pre;
}
sfBlack {
	font-family: "SanFranciscoBlack";
}
sfBlack:after {
	content: "\a";
	white-space: pre;
}
/* Indentations */
.tab {
	margin-left: 40px;
}
.top {
	margin-top: 10px;
}
.bottom {
	margin-bottom: 40px;
}
name-title {
	padding-left: 40px;
	font-size: 300%;
	font-family: 'SanFranciscoBlack';
	overflow-x: hidden;
}
@media (max-width: 499px) {
	name-title {
		padding-left: 7px;
		font-size: 300%;
		font-family: 'SanFranciscoBlack';
		overflow-x: hidden;
	}
}
button {
	outline: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin:1em 0;
	padding: 0;
}

cell {
	margin-left: 40px;
	margin-bottom: 7px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-family: "SanFranciscoRegular";
	font-size: 150%;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	overflow-x: hidden;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
	min-height: 160px;
}

@media (max-width: 500px) {
	cell {
		margin-left: 10px;
		margin-bottom: 7px;
		margin-right: 0px;
		display: block;
		border-bottom: 1px solid #ccc;
		font-family: "SanFranciscoRegular";
		font-size: 150%;
		overflow-y: scroll;
		-webkit-overflow-scrolling:touch;
		overflow-x: hidden;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
		min-height: 160px;
	}
}
@media (min-width: 500px) and (max-width: 800px) {
	cell {
		margin-left: 40px;
		margin-bottom: 7px;
		margin-right: 0px;
		display: block;
		border-bottom: 1px solid #ccc;
		font-family: "SanFranciscoRegular";
		font-size: 150%;
		overflow-y: scroll;
		-webkit-overflow-scrolling:touch;
		overflow-x: hidden;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
}
.cell-img {
	width: 150px;
	margin-right: 10px;
	float:left;
	position: absolute;
}
cell-header {
	font-family: "SanFranciscoBold";
	font-size: 150%;
	word-wrap: break-word;
	white-space: pre;
}
cell-header.indentation {
	margin-left: 160px;
}
cell-row {
	font-family: "SanFranciscoRegular";
	font-size: 100%;
	color: grey;
	float: left;
	overflow-x: hidden;
}
div.cell-content {
	float:left;
	max-width: 100%;
	margin-left: 160px;
}
div.cell-content-noimg {
	float:left;
	max-width: 100%;
}
@media (max-width: 800px) {
	cell-row {
		font-family: "SanFranciscoRegular";
		font-size: 100%;
		width: 100%;
		color: grey;
		float: left;
		overflow-x: hidden;
		word-break: break-word;
	}
	cell-header {
		font-family: "SanFranciscoBold";
		font-size: 150%;
		width: 100%;
		float: left;
		overflow-x: hidden;
		white-space: normal;
		word-break: break-word;
	}
}
cell-row:after {
	content: "\a";
	white-space: pre;
}
img {
	border-radius: 8px;
	margin-left: 0px;
	max-width: 100%;
	max-height: 100%;
	background-size: contain;
	object-fit: cover;
}
img.thumbnail {
	width: 150px;
	height: 150px;
}
@media (max-width: 500px) {
	.cell-img {
		width: 94%;
		margin-right: 10px;
		float:left;
		position: relative;
	}
	img.thumbnail {
		width: 100%;
	}
	div.cell-content {
		float:left;
		max-width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}
	cell-header.indentation {
		margin-top: 0px;
		margin-left: 0px;
	}
}
/* Tab */
.tab-bar {
	width: 100%;
	height: 50px;
	background: white;
	margin-top: 15px;
	padding-left: 30px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling:touch;
	white-space: nowrap;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
.tab-bar-item {
	height: 50px;
	margin-right: 5px;
	text-align: baseline;
	background: transparent;
	font-family: "SanFranciscoSemiBold";
	color: grey;
	font-size: 200%;
	border: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
.tab-bar-item-mouseLeft {
	height: 50px;
	margin-right: 5px;
	text-align: left;
	background: transparent;
	font-family: "SanFranciscoHeavy";
	color: black;
	font-size: 200%;
	border: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
.tab-bar-item-mouseOver {
	height: 50px;
	margin-right: 5px;
	text-align: left;
	background: transparent;
	font-family: "SanFranciscoSemiBold";
	color: grey;
	font-size: 250%;
	border: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
.tab-bar-item-isActive {
	height: 50px;
	margin-right: 5px;
	text-align: left;
	background: transparent;
	font-family: "SanFranciscoHeavy";
	color: black;
	font-size: 250%;
	border: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
@media (max-width: 500px) {
	.tab-bar {
		width: 100%;
		height: 50px;
		background: white;
		margin-top: 15px;
		padding-left: 0px;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling:touch;
		white-space: nowrap;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
	.tab-bar-item {
		height: 50px;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 5px;
		text-align: baseline;
		background: transparent;
		font-family: "SanFranciscoSemiBold";
		color: grey;
		font-size: 200%;
		border: none;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
	.tab-bar-item-mouseLeft {
		height: 50px;
		margin-right: 0px;
		text-align: left;
		background: transparent;
		font-family: "SanFranciscoHeavy";
		color: black;
		font-size: 200%;
		border: none;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
	.tab-bar-item-mouseOver {
		height: 50px;
		margin-right: 0px;
		text-align: left;
		background: transparent;
		font-family: "SanFranciscoSemiBold";
		color: grey;
		font-size: 250%;
		border: none;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
	.tab-bar-item-isActive {
		height: 50px;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 5px;
		text-align: left;
		background: transparent;
		font-family: "SanFranciscoHeavy";
		color: black;
		font-size: 250%;
		border: none;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
}
@media (min-width:500px) and (max-width: 800px) {
	.tab-bar {
		height: 50px;
		background: white;
		margin-top: 15px;
		padding-left: 35px;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling:touch;
		white-space: nowrap;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
		width: 100%;
	}
	.tab-bar-item {
		height: 50px;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 5px;
		text-align: baseline;
		background: transparent;
		font-family: "SanFranciscoSemiBold";
		color: grey;
		font-size: 200%;
		border: none;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
	.tab-bar-item-isActive {
		height: 50px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 5px;
		text-align: left;
		background: transparent;
		font-family: "SanFranciscoHeavy";
		color: black;
		font-size: 250%;
		border: none;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
}
/*Button*/
.more-button {
	float: right;
	background: #309eda;
	border: none;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	color: white;
	font-size: 20px;
	margin-right: 10px;
	vertical-align: middle;
	right: 25%;
	position: absolute;
}

@media (max-width: 800px) {
	.more-button {
		float: right;
		background: #309eda;
		border: none;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		color: white;
		font-size: 20px;
		margin-right: 10px;
		margin-top: 5px;
		vertical-align: middle;
		display: none;
	}
}

/*Scroll image cards*/
sfHeavy.scrollHeader {
	font-size: 200%;
	margin-left: 40px;
}
div.polaroid {
	width: 300px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-right: 20px;
}
sfRegular.subtitle {
	font-size: 100%; 
	color: grey;
	overflow-x: hidden;
	word-break: break-word;
	max-width: 80%;
}
sfRegular.date {
	font-size: 100%; 
	color: #309eda;
	overflow-x: hidden;
	word-break: break-word;
	max-width: 80%;
}
button.link {
	font-size: 100%;
	background: #309eda;
	border: none;
	color: white;
	width: 100%;
	height: 40px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container {
	text-align: center;
	padding: 10px 20px;
}
.scrollView {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling:touch;
	overflow-y: hidden;
	height: 15%;
	white-space: nowrap;
	padding-left: 25px;
}
@media (max-width: 499px) {
	sfHeavy.scrollHeader {
		font-size: 200%;
		margin-left: 13px;
	}
	.scrollView {
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling:touch;
		overflow-y: hidden;
		height: 15%;
		white-space: nowrap;
		padding-left: 2px;
	}
	div.polaroid {
		width: 300px;
		border-radius: 8px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 25px;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-right: 20px;
	}
}
/*Bottom bar*/
div.bottom {
	background-color: #5a5a5a;
	margin-bottom: 0px;
	margin-top: 15px;
	overflow-y: hidden;
	box-shadow: inset 0 8px 5px 0px rgba(0, 0, 0, 0.2);
}
div.bottom > a {
	font-family: "SanFranciscoRegular";
	font-size: 100%;
	color: white;
	margin-left: 40px;
	margin-top: 20px;
	text-decoration: none;
	margin-bottom: 20px;
	text-align: top;
}
@media (max-width: 499px) {
	div.bottom > a {
		font-family: "SanFranciscoRegular";
		font-size: 100%;
		color: white;
		margin-left: 15px;
		margin-top: 20px;
		text-decoration: none;
		margin-bottom: 20px;
		text-align: top;
	}
}
div.bottom > a.visited {
	font-family: "SanFranciscoRegular";
	font-size: 100%;
	color: white;
	margin-left: 40px;
	margin-top: 20px;
	text-decoration: none;
	margin-bottom: 20px;
	text-align: top;
}
div.bottom > a.link {
	font-family: "SanFranciscoRegular";
	font-size: 100%;
	color: white;
	margin-left: 40px;
	margin-top: 20px;
	text-decoration: none;
	margin-bottom: 20px;
	text-align: top;
}
/*Out link*/
a:link {
	color: #309eda;
	text-decoration: none;
}
a:visited {
	color: #309eda;	
	text-decoration: none;
}
/*Right panel*/
@media(max-width: 800px) {
	div.panel {
	    opacity: 0;
	    position: absolute;
	    top: 32px;
	    background: #fafafa;
	    border: 1px solid transparent;
	    border-radius: 6px;
	    height: 0px;
	    padding: 0 12px;
	    overflow: hidden;
	    -webkit-transition: all 500ms;
	    transition: all 500ms;
	}
}
@media(min-width: 800px) {
	div.panel {
		float: right;
		height: 100%;
		min-height: 160px;
		margin-top: 0px;
		align-self: top;
		position: relative;
		width: 25%;
		z-index: 100;
		right: -30%;
		box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.2), 2px -11px 15px 0px rgba(0, 0, 0, 0.19);
		background-color: white;
	    opacity: 0.9;
	   	-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s;
	}
}
div > a {
	margin-left: 10px;
}
